body {
    width: 320px; height: 400px;
    position: relative;
}
h1 {
    font-size: 22.5px;
    margin-top: 10px; margin-bottom: 10px;
}
h2 {
    font-size: 18px;
    margin-top: 8px; margin-bottom: 2.5px;
}
.popup-wrapper {
    margin: 10px; padding: 5px;
    min-width: 290px; min-height: 370px;
    position: fixed;
    display: flex; flex-direction: column;
}
.settings {
    margin-bottom: 2.5px;
    display: flex; flex-direction: column;
    gap: 7.5px; 
}
.switch {
    width: 42.5px; height: 20px;
    position: relative;
    display: inline-block;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0;
    right: 0; bottom: 0;
    background-color: #ccc;
    transition: .2s;
    border-radius: 20px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .2s;
    border-radius: 50%;
}
input:checked + .slider {
    background-color: #f50;
}
input:checked + .slider:before {
    transform: translateX(20px);
}
.SC-tabs-list {
    display: flex;
}